/* src/App.css */
.App {
  text-align: center;
  padding: 20px;
}

#editor, #preview {
  width: 80%;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: auto;
}
